---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<ol>
{% for post in posts %}
<article>
  <li><h1>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </h1>
  <p class="time">
      {{
        post.date.toLocaleDateString("en-us", {
          weekday: "long",
          year: "numeric",
          month: "short",
          day: "numeric"
        })
      }}
  </p>

  {% excerpt post %}
  <a href="{{ post.url | url }}">Read more</a>
</li>
</article>
{% endfor %}
</ol>