<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Blog</title>

    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/" class="link--home">Eleventy Blog</a>
      <a href="/About" class="link--about">About</a>
    </header>
    <main>
      {{ content | safe }}
      <p class="time" style="text-align: right;">
        <br/>
          - Manish Bajagai
      </p>
    </main>
    <footer>&copy; 2022 Copyright : My Blog</footer>
  </body>
</html>
